/************ CENTER SCREEN OVERLAY MENU ************/

/* Menu tiles */

/*
.region.middle.center {
  z-index: 100;
}
*/

.tile {
	overflow-x: hidden;
	position: relative;
	text-align: center;
	color: white;
	border: 4px solid white;
	border-radius: 20px;
	z-index: 1;
}

/*
.tilepulse_click {
	-webkit-animation: MMM-voice-pulse 1s;
	-moz-animation: MMM-voice-pulse 1s;
	-o-animation: MMM-voice-pulse 1s;
	animation: MMM-voice-pulse 1s;
}

.tilebackground_hover {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.25);
	background-clip: padding-box;
	z-index: -1;
}
*/

.tilebackground {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0%;
	height: 100%;
	background: rgba(255, 255, 255, 0.25);
	background-clip: padding-box;
	z-index: -1;
	animation: tileselection 2.5s linear;
	-moz-animation: tileselection 2.5s linear; /* Firefox 4 */
	-webkit-animation: tileselection 2.5s linear; /* Safari and Chrome */
	-o-animation: tileselection 2.5s linear; /* Opera */
	-ms-animation: tileselection 2.5s linear; /* Explorer 10 */
}

@keyframes tileselection {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

.tilepulse {
	-webkit-animation: MMM-voice-pulse 1s infinite;
	-moz-animation: MMM-voice-pulse 1s infinite;
	-o-animation: MMM-voice-pulse 1s infinite;
	animation: MMM-voice-pulse 1s infinite;
}

@-webkit-keyframes MMM-voice-pulse {
	0% {
		color: #999;
	}
	50% {
		color: #000;
	}
	100% {
		color: #999;
	}
}

/* Menu list */

.xLargeMenu {
	font-size: 70px;
	line-height: 60px;
	letter-spacing: -3px;
	text-align: right;
	color: #fff;
}

.table {
	width: 400px;
	text-align: right;
}

.tbody {
	width: 400px;
	text-align: right;
	align: right;
}

.namecellMainMenu {
	padding-right: 5px;
	text-align: right;
	align: right;
}

.valuecellMainMenu {
	padding-left: 3px;
	align: right;
	text-align: right;
}

.pulse {
	-webkit-animation: MMM-voice-pulse 1s infinite;
	-moz-animation: MMM-voice-pulse 1s infinite;
	-o-animation: MMM-voice-pulse 1s infinite;
	animation: MMM-voice-pulse 1s infinite;
}

.pulse:after {
	content: "";
	background: rgba(250, 250, 250, 0.25);
	position: absolute;
	width: 0%;
	top: 0;
	left: 0;
	height: 100%;
	transition: 2.5s linear;
	animation: selection 2.5s linear;
	z-index: -1;
}

@keyframes selection {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

/*
.tile_flash {
	overflow-x: hidden;
	position: relative;
	text-align: center;
	color: white;
	border: 4px solid white;
	border-radius: 20px;
	z-index: 1;
	animation: flash 1s infinite;
}

.background_flash {
	background-color: red;
	color: white;
	padding: 10px;
	animation: flash 1s infinite;
}

@keyframes flash {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
*/

